.app-title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.alert {
  position: absolute;
  top: 1em;
  right: 8px;
}

.btn-danger:hover {
  background-color: salmon;
  background-image: none;
  border-color: salmon;
}

@media(max-width: 767px) {
  .app-title {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.1;
  }
}

